---
import "../assets/styles/base.css";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet" />
    <title>Burak KUMAŞ</title>
  </head>

  <body class="bg-black m-auto">
    <div class="flex justify-center items-center min-h-screen">
      <h1 class="text-white text-9xl">YAPIM AŞAMASINDA</h1>
    </div>
  </body>
</html>
