---

---

<header class="p-12 fixed w-full h-24">
  <div class="flex justify-between w-full">
    <div class="flex justify-between w-2/3 px-12">
      <h1>BURAK KUMAŞ</h1>
      <div>
        <nav>
          <ul class="list-none flex gap-6">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div>MENU</div>
  </div>
</header>
